
<h1 style="font-family: sans-serif">Progress</h1>
<%# <p><%= @time_now %></p>
<%# <p><%= @time_end %></p>
<p></p>

<div class="bar" style="width: 400px; height: 30px; border: 2px solid black;"><div class="progress" style="height: 30px; width: <%=@pixels%>px; background-color: red; display: flex; justify-content: right; color: white;">
    <div style="padding-right: 5px;"><%= @percent %>%</div>
</div><div>
